.register-view {
    text-align: -webkit-center;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(35px);
    max-width: fit-content;
    min-width: 40%;
    margin-left: 30%;
    padding: 5px;
    margin-top: 8%;
    border-radius: 20px;
}

.register-view h1 {
    padding: unset
}

.register-view a {
    display: flex;
    margin-inline: 30px;
    color: maroon;
    font-size: 18px;
    font-weight: 350;
}

.register-form {
    text-align: -webkit-center;
}

.register-detail {
    font-size: 15px;
    margin-top: 21px;
    width: 50%;
    display: -webkit-inline-flex;
    vertical-align: text-bottom;
    margin-inline-start: 2%;
    border: inset;
}

.btn-submit-register {
    padding: 11px;
    margin-top: 25px;
    font-variant-caps: small-caps;
}

.pwd-control-reg {
    opacity: 99%;
    position: relative;
    top: -81px;
    left: 29.5%;
    width: fit-content;
}

.register-result-info-p1 {
    margin: 100px 0 45px 30px;
    width: 60%;
    word-break: break-word;
    background: #d4d1ce;
    border: 5px solid forestgreen;
    padding: 40px;
    text-align: -webkit-center;
}

.register-result-info-p2 {
    margin-inline: 30px;
    font-size: 24px;
    font-weight: 374;
    color: maroon;
}
